<turbo-stream action="update" target="message-thread">
  <template>
    <div id="message-thread" class="message-thread border rounded p-3 mb-4" style="max-height: 300px; overflow-y: auto;">
      <%= render partial: 'messages/thread', locals: { messages: @checkout_order.messages, current_user: current_user } %>
    </div>

    <%= form_with model: Message.new, url: messages_path, data: { turbo: true }, html: { id: "order-message-form" } do |f| %>
      <%= f.hidden_field :sender_id, value: current_user.id %>
      <%= f.hidden_field :recipient_id, value: @message.recipient_id %>
      <%= f.hidden_field :checkout_order_id, value: @checkout_order.id %>
      <%= f.hidden_field :from_order_page, value: true %>

      <div class="form-group">
        <%= f.text_area :body, class: "form-control", placeholder: "Write a message...", rows: 2 %>
      </div>

      <div class="mt-2">
        <%= f.submit "Send", class: "btn btn-primary btn-sm" %>
      </div>
    <% end %>
  </template>
</turbo-stream>
