<% if @buyer_orders.present? %>
  <h1>My Orders </h1>
  <table class='table table-hover'>
    <thead class='table-primary'>
      <tr>
        <th></th>
        <th>Total Price</th>
        <th>Date</th>
        <th>Status</th>
        <th>Delivered?</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @buyer_orders.each do |order| %>
        <tr>
          <td></td>
          <td><%= number_to_currency((order.total_price * 1.07).round(2)) %></td>
          <td><%= order.order_date&.strftime("%B %d, %Y") || "Date not set" %></td>
          <td>
            <% if order.confirmed_delivery %>
              Confirmed Delivered
            <% else %>
              <%= order.status %>
            <% end %>
          </td>
          <td>
            <%= form_with url: confirm_delivery_checkout_order_path(order), method: :patch, local: true do %>
              <%= check_box_tag "confirmed_delivery", true, order.confirmed_delivery, onchange: "this.form.submit()" %>
            <% end %>
          </td>
          <td><%= link_to "View Order", checkout_order_path(order), class: 'btn btn-primary' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<% if @seller_orders.present? %>
  <hr>
  <h1>Customer Orders </h1>
  <table class='table table-hover'>
    <thead class='table-primary'>
      <tr>
        <th></th>
        <th>Total Price</th>
        <th>Date</th>
        <th>Status</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @seller_orders.each do |order| %>
        <tr>
          <td></td>
          <td><%= number_to_currency((order.total_price * 1.07).round(2)) %></td>
          <td><%= order.order_date&.strftime("%B %d, %Y") || "Date not set" %></td>
          <td><%= order.status %></td>
          <td><%= link_to "View Order", checkout_order_path(order), class: 'btn btn-primary' %></td>
          <td>
            <% if order.status == 'Placed' %>
              <%= link_to "Delivered", mark_as_delivered_checkout_order_path(order),
                method: :patch,
                data: { confirm: "Are you sure this order has been delivered?" },
                class: 'btn btn-secondary' %>
            <% end %>
          </td>
          <td>
            <% if order.status == 'Placed' %>
              <%= link_to "Cancel", cancel_checkout_order_path(order),
                method: :patch,
                data: { confirm: "Are you sure you want to cancel this order?" },
                class: 'btn btn-danger' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>