<h1>My Orders</h1>

<table class='table table-hover'>
    <thead class='table-dark'>
        <tr>
            <th>Order</th>
            <th>Total Price</th>
            <th>Date</th>
            <th>Status</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <% @checkout_orders.each do |checkout_order| %>
            <tr>
                <td><%= checkout_order.id %></td>
                <td><%= number_to_currency(checkout_order.total_price) %></td>
                <td><%= checkout_order.order_date.strftime("%B %d, %Y") %></td>
                <td><%= checkout_order.status %></td>
                <td><%= link_to "View Order", checkout_order_path(checkout_order), class: 'btn btn-primary' %></td>
                <td><% if checkout_order.status == 'Pending' %>
                        <%= link_to "Delivered", delivered_checkout_order_path(checkout_order), 
                            method: :patch, 
                            data: { confirm: "Are you sure your order was delivered?" },
                            class: 'btn btn-secondary' %>
                    <% end %>
                </td>
                <td>
                    <% if checkout_order.status == 'Pending' %>
                        <%= link_to "Cancel", cancel_checkout_order_path(checkout_order), 
                            method: :patch, 
                            data: { confirm: "Are you sure you want to cancel this order?" },
                            class: 'btn btn-danger' %>
                    <% end %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>