<h1><strong><%= @event.event_name %></strong></h1>
<p>Location: <%= @event.location %></p>
<p>Date: <%= @event.date.strftime("%m/%d/%Y") %></p>
<p>Price: <%= @event.price == 0 ? "Free" : number_to_currency(@event.price) %></p>

<% if @event.image.attached? %>
    <%= image_tag @event.image, width: 300 %>
<% else %>
    <p>No image uploaded.</p>
<% end %>

<p><strong>Description:</strong></p>
<p><%= @event.description %></p>

<%= form_with url: register_event_path(@event), method: :post, local: true do %>
    <%= submit_tag "Register", class: 'btn btn-success' %>
<% end %>

<p><%= link_to "Back to Events", events_path, class: 'btn btn-primary' %></p>