<h1>Store!</h1>

<table class="table table-hover">
 
  <thead class="table-dark">
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Image</th>
    </tr>
  </thead>
 
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= link_to product.name, product_path(product) %></td>
        <td><%= product.price %></td>
        <td><%= image_tag product.image, width: 100, height: 100, alt: "#{product.name} image" %></td>
      </tr>
    <% end %>
  </tbody>
 
</table>




<p>
  <%= link_to "Create New product", new_product_path %>
</p>

<p><%= link_to "Back", home_path %></p>