<h1><%= @product.name%></h1>

<p> <%=@product.description%></p>
<p><%= image_tag @product.image, width: 100, height: 100, alt: "#{@product.name} image" %></p>
<p><%=@product.price%></p>
<p><%=@product.status%></p>

<p>
<%= link_to "Back to Store", category_products_path(@category) %>
</p>